name: Publish latest development version

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build font
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Get package version
        id: version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
      - name: Publish
        run: |
          UNIX_SECONDS=$(date +%s)
          npm --no-git-tag-version version ${{ steps.version.outputs.current-version }}-dev-${UNIX_SECONDS}
          npm run build
          npm publish --tag latest
